################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContosoCrafts/.vs/ContosoCrafts/config/applicationhost.config
